{% extends "base.html.twig" %}
{% block content %}

{% set title = 'Get latest forecasts' %}
{% set description = '
<p>Get latest available forecasts for a specific variable.</p>
' %}

{% set prev_name = 'Authentication' %}
{% set prev_href = '/docs/auth' %}
{% set next_name = 'Get Vintage Forecast Values' %}
{% set next_href = '/docs/get-forecast-vintage-values' %}

{% set endpoints = [





{
'n': '1',
'request_type': 'GET',
'endpoint_url': '/v1/get-forecast-values',
'title': 'Get latest forecast values',
'description': '<p>Test</p>',
'req_attributes': [
	{'name': 'varname', 'type': 'string', 'description': 'The name of the variable.'}
],
'opt_attributes': [
	{'name': 'limit', 'type': 'integer', 'description': 'The number of results to return, 10000 max.'},
	{'name': 'start_date', 'type': 'string', 'description': 'The starting observation date of results to return, YYYY-MM-DD.'}
],
'ret_attributes': [
	{'name': 'varname', 'type': 'integer', 'description': 'The number of results to return, 10000 max.'}
],
'request_bash': '
curl -G https://api.protocol.chat/v1/contacts \
  -H "Authorization: Bearer {token}" \
  -d active=true \
  -d limit=10
',
'request_python': '
import requests

url = "https://www.w3schools.com/python/demopage.php"
myobj = {"somekey": "somevalue"}

x = requests.post(url, json = myobj)

print(x.text)						
',
'request_r': '
library(httr)

httr::GET("test")					
',
'response_json': '
{
  "short_name": "Weather",
  "name": "Weather: Do I need an umbrella?",
  "icons": [
    {
      "src": "/images/icons-vector.svg",
      "type": "image/svg+xml",
      "sizes": "512x512"
    },
    {
      "src": "/images/icons-192.png",
      "type": "image/png",
      "sizes": "192x192"
    },
    {
      "src": "/images/icons-512.png",
      "type": "image/png",
      "sizes": "512x512"
    }
  ]
}
'
}


] %}






{% include 'endpoints-template.html.twig' %}
{% include 'footer.html.twig'  %}

{% endblock %}

