{% extends "base.html.twig" %}
{% block content %}


<div class="flex-auto max-w-6xl min-w-0 px-4 py-10 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">

<!--
	<div class="absolute inset-0 overflow-hidden -bottom-20 -top-20">
		<div class="background-gradient" style="position: absolute;
			top: 50%;
			left: 80%;
			width: 150vw;
			height: 1000px;
			transform: translate3d(-50%, -50%, 0px);
			mask-image: radial-gradient(farthest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
			background-image: linear-gradient(90deg, rgb(126, 167, 233), rgb(148, 239, 183));
			filter: hue-rotate(0deg);">
		<div class="background-gradient-pattern"></div></div>
	</div>
-->
  
  
  <article class="">
  
	<div class="absolute inset-0 -z-10 mx-0 max-w-none overflow-hidden" style="display: ;">
		<div class="absolute left-1/2 top-0 ml-[-0rem] h-[26rem] w-[80rem]">
			<div class="absolute inset-0 bg-gradient-to-r from-[#36b49f] to-[#DBFF75] opacity-40 [mask-image:radial-gradient(farthest-side_at_top,white,transparent)]">
				<svg aria-hidden="true" class="absolute inset-x-0 inset-y-[-50%] h-[200%] w-full skew-y-[-18deg] fill-black/40 stroke-black/50 mix-blend-overlay ">
					<defs><pattern id=":R45km:" width="72" height="56" patternUnits="userSpaceOnUse" x="-12" y="4"><path d="M.5 56V.5H72" fill="none"></path></pattern></defs>
					<rect width="100%" height="100%" stroke-width="0" fill="url(#:R45km:)"></rect>
					<svg x="-12" y="4" class="overflow-visible">
						<rect stroke-width="0" width="73" height="57" x="288" y="168"></rect>
						<rect stroke-width="0" width="73" height="57" x="144" y="56"></rect>
						<rect stroke-width="0" width="73" height="57" x="504" y="168"></rect>
						<rect stroke-width="0" width="73" height="57" x="720" y="336"></rect>
					</svg>
				</svg>
			</div>
			<svg viewBox="0 0 1113 440" aria-hidden="true" class="absolute top-0 left-1/2 ml-[-19rem] w-[69.5625rem] fill-white blur-[26px] dark:hidden">
				<path d="M.016 439.5s-9.5-300 434-300S882.516 20 882.516 20V0h230.004v439.5H.016Z"></path>
			</svg>
		</div>
	</div>

	<header class="">
	  <p class="text-base font-medium text-slate-500">
		Getting started
	  </p>

	  <h1 class="text-3xl font-bold tracking-tight text-slate-900">
		Quick start guide
	  </h1>
	</header>

	<p class="mt-2 text-xl text-slate-600">
	  Need to get started quickly with Spinal? You will learn all the basics in just minutes.
	</p>

	<a href="#" class="flex flex-col w-full mt-4 overflow-hidden rounded-lg shadow-xl md:flex-row md:w-4/5">
	  <div class="flex items-center justify-center w-full px-4 py-16 text-sm font-normal md:w-1/3 text-slate-900/20 bg-gradient-to-br from-indigo-200 via-sky-100 to-indigo-100">
		[Screenshot Image]
	  </div>

	  <div class="w-full px-6 py-4 border-t border-b border-r md:w-2/3 border-slate-200">
		<h3 class="text-xl font-semibold tracking-tight text-slate-900">
		  Video walkthrough
		</h3>

		<p class="mt-1 text-lg text-slate-600">
		  Watch this 5 minutes video-walkthrough of Spinal. You quickly learn how to set up your dashboard, invite team members, set permissions and how to schedule and publish content.
		</p>
	  </div>
	</a>

	<h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
	  Get set up quickly
	</h3>

	<ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
	  <li>
		<a href="#" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
		  <h4 class="font-bold tracking-tight text-slate-900">
			Connect your GitHub account
		  </h4>

		  <p class="text-slate-600">
			What you need to know before connecting your GitHub account
		  </p>
		</a>
	  </li>

	  <li>
		<a href="#" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
		  <h4 class="font-bold tracking-tight text-slate-900">
			Add your first content type
		  </h4>

		  <p class="text-slate-600">
			Learn what content types are in Spinal
		  </p>
		</a>
	  </li>

	  <li class="">
		<a href="#" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
		  <h4 class="font-bold tracking-tight text-slate-900">
			Invite your first team member
		  </h4>

		  <p class="text-slate-600">
			You write your best marketing content with your team
		  </p>
		</a>
	  </li>

	  <li class="">
		<a href="#" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
		  <h4 class="font-bold tracking-tight text-slate-900">
			Publish your content
		  </h4>

		  <p class="text-slate-600">
			Publishing with Spinal is really just one click of a button
		  </p>
		</a>
	  </li>
	</ul>

	<h3 class="mt-8 text-base font-bold tracking-tight text-slate-900">
	  Have questions?
	</h3>

	<p class="text-slate-900">
	  Still have questions? <a href="mailto:charles@econforecasting.com" class="underline hover:no-underline">Email us</a>.
	</p>
  </article>

  <dl class="flex pt-6 mt-6 border-t border-slate-200 max-w-6xl">

	<div class="ml-auto text-right">
	  <dt class="text-sm font-normal tracking-tight text-slate-600">
		Next
	  </dt>

	  <dd class="mt-1">
		<a href="#" class="text-base font-semibold text-slate-900 hover:underline">
		  How does Spinal work?
		</a>
	  </dd>
	</div>
  </dl>
</div>
{% endblock %}
